<p><meta>
    <description> General template for parts being produced </description>
</meta></p>
<p><strong>Parent</strong> : my parent 2</p>
<p><strong>Name</strong> : Front Shield | <a href="/?,">Edit</a></p>
<p><strong>Version</strong> : 1 | 1 2</p>
<p><strong>ID</strong> : Z_4_FRONT_SHIELD | <a href="">Inventory</a></p>
<p><strong>Drawing</strong> : <a href="https://a360.co/37pDdVD">Fusion360 public link</a></p>
<p><strong>Preview</strong></p>
<p><img width="20%" src=""></img></p>
<hr/>
<p><strong>Comaptible with</strong> : </p>
<p><strong>Capabilities</strong> : </p>
<hr/>
<p><strong>Assembly</strong> : <a href="">Fusion360 public link</a></p>
<p><strong>Tools</strong></p>
<p><pp-tools>
    <div>tools - data </div>
</pp-tools></p>
<p><strong>Templates / Gauges</strong></p>
<p><pp-templates></p>
<p><pp-templates></p>
<p><strong>Stock</strong></p>
<p><pp-stock></p>
<p></pp-stock></p>
<p><strong>Machines</strong></p>
<p><pp-machines></p>
<p></pp-machines></p>
<hr/>
<p><strong>Steps</strong> :</p>
<p><pp-steps></p>
<p></pp-steps></p>
<p><templates>
    <template for="list">
        Z_4_FRONT_SHIELD | Front Shield | <a href="https://a360.co/37pDdVD">Drawing</a> |
    </template>
</templates></p>